<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Leenk"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CitizenshipQuestionActivity" />
        <activity android:name=".MobileVerificationActivity" />
        <activity android:name=".EmailVerificationActivity" />
        <activity android:name=".ScanIdSplashActivity" />
        <activity android:name=".SelectIdTypeActivity" />
        <activity android:name=".BasicInfoActivity" />
        <activity android:name=".HomeAddressActivity" />
        <activity android:name=".CreateUsernameActivity" />
        <activity android:name=".CreatePasscodeActivity" />
        <activity android:name=".LoginUsernameActivity" />
        <activity android:name=".LoginPasscodeActivity" />
        <activity android:name=".HomeDashboardActivity" />
        <activity android:name=".DepositActivity" />
        <activity android:name=".BuyLoadActivity" />
        <activity android:name=".MyAccountActivity" />
        <activity android:name=".WithdrawActivity" />
        <activity android:name=".AllTransactionsActivity" />
        <activity
            android:name=".QRScannerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".PayBillsActivity" />
        <activity android:name=".QRCodeDisplayActivity" />
        <activity android:name=".AddAmountActivity" />
        <activity android:name=".BankTransferActivity" />
        <activity android:name=".BankTransferDetailsActivity" />
        <activity android:name=".ScanIdActivity" />




    </application>

</manifest>